page-home {

    .texto01{
        font-size:x-small; 
        font-weight: 500;
        margin-right: 50px;   
    }

    .texto02{
        font-size: xx-small; 
        font-weight: 500;
        color: chocolate;
    }
    

    
}
